In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [6]:
df_terrorism = pd.read_csv("concat_df_terrorism.csv")
df_terrorism.head(1)

C:\Users\lenovo\AppData\Local\Temp\ipykernel_3220\395395043.py:1: DtypeWarning: Columns (56,74,109,110) have mixed types. Specify dtype option on import or set low_memory=False.
  df_terrorism = pd.read_csv("concat_df_terrorism.csv")

,iyear,imonth,iday,approxdate,extended,resolution,provstate,city,latitude,longitude,...,addnotes,scite1,scite2,scite3,dbsource,INT_LOG,INT_IDEO,INT_MISC,INT_ANY,related
0,1976,2,13,NaN,0,NaN,Lagos,Lagos,6.452331,3.419044,...,"The victims included Sergeant Adamu Michika, S...","Segun Akande, ""42 years ago, one of Nigeria's ...","""Anniversary: Motoring Error that Led to the K...",NaN,UMD Miscellaneous,-9,-9,0,-9,NaN