In [211]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [212]:
df = pd.read_csv("Fulani Ethnic Militia Attacks - Location & Event Data - Jan 1 - Dec 31 2015_Nigeria.csv")
pd.set_option('display.max_columns', None)
df.head(5)

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,actor1,assoc_actor_1,inter1,interaction,region,country,admin1,admin2,admin3,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
0,533240,566,NIG8502,8502,13 December 2015,2015,1,Violence against civilians,Fulani Ethnic Militia (Nigeria),NaN,4,47,Western Africa,Nigeria,Plateau,Jos South,NaN,Zawan,9.7500,8.8667,1,Vanguard (Lagos),Subnational,At least 14 people were reportedly killed and ...,14,1518765568,NGA
1,533203,566,NIG8466,8466,06 December 2015,2015,1,Battle-No change of territory,Fulani Ethnic Militia (Nigeria),NaN,4,44,Western Africa,Nigeria,Benue,Oju,NaN,Oju,6.8454,8.4174,2,This Day (Lagos),Subnational,A bloody clash between Fulani herdsmen and far...,6,1518765568,NGA
2,533199,566,NIG8461,8461,05 December 2015,2015,1,Violence against civilians,Fulani Ethnic Militia (Nigeria),NaN,4,47,Western Africa,Nigeria,Delta,Ndokwa West,NaN,Onicha,5.8288,6.3929,1,The Sun (Nigeria),National,Fulanis kidnap three contractors in Onicha on ...,0,1518765568,NGA
3,1459605,566,NIG8440,8440,01 December 2015,2015,1,Violence against civilians,Fulani Ethnic Militia (Nigeria),NaN,4,47,Western Africa,Nigeria,Gombe,Billiri,NaN,Polapindi,9.8667,11.1667,1,Leadership (Abuja),Subnational,Fulani herdsmen attack Polalido-Kandilan in Bi...,1,1524053912,NGA
4,1252426,566,NIG8436,8436,01 December 2015,2015,1,Battle-No change of territory,Fulani Ethnic Militia (Nigeria),NaN,4,44,Western Africa,Nigeria,Delta,Isoko North,NaN,Ofagbe,5.5493,6.3427,1,The Nation (Nigeria),National,Fulanis clash with members of the Ofagbe commu...,1,1523534006,NGA

In [213]:
df.shape

(82, 27)

In [214]:
df.isnull().sum()

data_id              0
iso                  0
event_id_cnty        0
event_id_no_cnty     0
event_date           0
year                 0
time_precision       0
event_type           0
actor1               0
assoc_actor_1       82
inter1               0
interaction          0
region               0
country              0
admin1               0
admin2               0
admin3              82
location             0
latitude             0
longitude            0
geo_precision        0
source               0
source_scale         0
notes                0
fatalities           0
timestamp            0
iso3                 0
dtype: int64

In [215]:
df.columns

Index(['data_id', 'iso', 'event_id_cnty', 'event_id_no_cnty', 'event_date',
       'year', 'time_precision', 'event_type', 'actor1', 'assoc_actor_1',
       'inter1', 'interaction', 'region', 'country', 'admin1', 'admin2',
       'admin3', 'location', 'latitude', 'longitude', 'geo_precision',
       'source', 'source_scale', 'notes', 'fatalities', 'timestamp', 'iso3'],
      dtype='object')

In [216]:
df.head(1)

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,actor1,assoc_actor_1,inter1,interaction,region,country,admin1,admin2,admin3,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
0,533240,566,NIG8502,8502,13 December 2015,2015,1,Violence against civilians,Fulani Ethnic Militia (Nigeria),NaN,4,47,Western Africa,Nigeria,Plateau,Jos South,NaN,Zawan,9.75,8.8667,1,Vanguard (Lagos),Subnational,At least 14 people were reportedly killed and ...,14,1518765568,NGA

In [217]:
df.dtypes

data_id               int64
iso                   int64
event_id_cnty        object
event_id_no_cnty      int64
event_date           object
year                  int64
time_precision        int64
event_type           object
actor1               object
assoc_actor_1       float64
inter1                int64
interaction           int64
region               object
country              object
admin1               object
admin2               object
admin3              float64
location             object
latitude            float64
longitude           float64
geo_precision         int64
source               object
source_scale         object
notes                object
fatalities            int64
timestamp             int64
iso3                 object
dtype: object

In [218]:
df.drop(columns=["assoc_actor_1","admin3"],inplace=True)

In [219]:
df.shape

(82, 25)

In [220]:
df.isnull().sum()

data_id             0
iso                 0
event_id_cnty       0
event_id_no_cnty    0
event_date          0
year                0
time_precision      0
event_type          0
actor1              0
inter1              0
interaction         0
region              0
country             0
admin1              0
admin2              0
location            0
latitude            0
longitude           0
geo_precision       0
source              0
source_scale        0
notes               0
fatalities          0
timestamp           0
iso3                0
dtype: int64

In [221]:
# Find duplicates
duplicates = df.duplicated().sum()

# Display the total count of duplicates
print("Total duplicates:", duplicates)

Total duplicates: 0

In [222]:
df.dtypes

data_id               int64
iso                   int64
event_id_cnty        object
event_id_no_cnty      int64
event_date           object
year                  int64
time_precision        int64
event_type           object
actor1               object
inter1                int64
interaction           int64
region               object
country              object
admin1               object
admin2               object
location             object
latitude            float64
longitude           float64
geo_precision         int64
source               object
source_scale         object
notes                object
fatalities            int64
timestamp             int64
iso3                 object
dtype: object

In [223]:
from datetime import datetime
# Convert the date column to standardized format
df['event_date'] = df['event_date'].apply(lambda x:  datetime.strptime(x, "%d %B %Y").strftime("%d-%m-%Y"))
df['event_date'] = pd.to_datetime(df['event_date'])

C:\Users\lenovo\AppData\Local\Temp\ipykernel_4508\2661842032.py:4: UserWarning: Parsing dates in DD/MM/YYYY format when dayfirst=False (the default) was specified. This may lead to inconsistently parsed dates! Specify a format to ensure consistent parsing.
  df['event_date'] = pd.to_datetime(df['event_date'])

In [224]:
df.head(1)

,data_id,iso,event_id_cnty,event_id_no_cnty,event_date,year,time_precision,event_type,actor1,inter1,interaction,region,country,admin1,admin2,location,latitude,longitude,geo_precision,source,source_scale,notes,fatalities,timestamp,iso3
0,533240,566,NIG8502,8502,2015-12-13,2015,1,Violence against civilians,Fulani Ethnic Militia (Nigeria),4,47,Western Africa,Nigeria,Plateau,Jos South,Zawan,9.75,8.8667,1,Vanguard (Lagos),Subnational,At least 14 people were reportedly killed and ...,14,1518765568,NGA

In [225]:
df.dtypes

data_id                      int64
iso                          int64
event_id_cnty               object
event_id_no_cnty             int64
event_date          datetime64[ns]
year                         int64
time_precision               int64
event_type                  object
actor1                      object
inter1                       int64
interaction                  int64
region                      object
country                     object
admin1                      object
admin2                      object
location                    object
latitude                   float64
longitude                  float64
geo_precision                int64
source                      object
source_scale                object
notes                       object
fatalities                   int64
timestamp                    int64
iso3                        object
dtype: object

In [226]:
import datetime

# Convert Unix timestamp to a datetime object
timestamp = 1518765568
dt_object = datetime.datetime.fromtimestamp(timestamp)

# Print the datetime object
print(dt_object)

2018-02-16 12:19:28

In [227]:
df.to_csv("cleaned_Fulani Ethnic Militia Attacks - Location & Event Data - Jan 1 - Dec 31 2015_Nigeria.csv")