In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_excel("drug-use-in-nigeria-by-state.xlsx")
df.head()

,State,Cocaine,Heroin,Cannabis,Methamphetamine,Amphetamine,Ephedrine,Tramadol,Cough Syrup Codeine,Benzodiazapine,Khat,Opiods,Opiates,Barbiturates,Others
0,Abia,0.16,1.63,407.72,0.00,0,0.0,23.70,6.10,0.70,0.0,0.00,0.00,0.0,6.63
1,Adamawa,0.00,0.00,183.14,0.00,0,0.0,1500.97,513.34,5.52,0.0,8.03,2.45,1.4,21.00
2,Akwa Ibom,0.02,0.94,504.96,0.00,0,0.0,4.96,0.00,3.57,0.0,0.00,0.00,0.0,0.19
3,Anambra,0.37,0.03,457.58,0.07,0,0.0,0.25,0.02,1.28,0.0,0.00,0.00,0.0,0.00
4,Bauchi,0.00,0.00,1793.03,0.00,0,0.0,393.68,806.63,321.33,0.0,22.50,0.00,0.0,24.61

In [3]:
df.shape

(38, 15)

In [4]:
df.isnull().sum()

State                  0
Cocaine                0
Heroin                 0
Cannabis               0
Methamphetamine        0
Amphetamine            0
Ephedrine              0
Tramadol               0
Cough Syrup Codeine    0
Benzodiazapine         0
Khat                   0
Opiods                 0
Opiates                0
Barbiturates           0
Others                 0
dtype: int64

In [5]:
df.dtypes

State                   object
Cocaine                float64
Heroin                 float64
Cannabis               float64
Methamphetamine        float64
Amphetamine              int64
Ephedrine              float64
Tramadol               float64
Cough Syrup Codeine    float64
Benzodiazapine         float64
Khat                   float64
Opiods                 float64
Opiates                float64
Barbiturates           float64
Others                 float64
dtype: object

0