In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("tosha.csv")
df.head()

,Detail of Gifts,Item Category,Name of Recipient,Affiliation,Date,Assessed Value,Retention Cost,Retained,Remarks
0,Two small silver\nBowls,Decoration Pieces,"Mr. Abdul Sattar, Minister for Foreign\nA...",Gen. Musharrafarraf,1/8/2002,5000.0,0.0,Yes,Yes
1,One Pilot Pen with\nink,Pen,"Mr. Abdul Sattar, Minister for Foreign\nA...",Gen. Musharraf,1/8/2002,3500.0,0.0,Yes,Yes
2,One silver vase,Decoration Pieces,"Mr. Shaukat Aziz, Minister for Finance",Gen. Musharraf,1/9/2002,7500.0,0.0,Yes,Yes
3,One (decoration)\nfolding Screen,Decoration Pieces,"Mr. Abdul Sattar, Minister for Foreign\nAf...",Gen. Musharraf,1/15/2002,2200.0,0.0,Yes,Yes
4,One Decoration\nPiece,Decoration Pieces,"Mr. Abdul Sattar, Minister for Foreign\nA...",Gen. Musharraf,1/22/2002,2000.0,0.0,Yes,Yes

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4214 entries, 0 to 4213
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   Detail of Gifts    4208 non-null   object
 1   Item Category      2338 non-null   object
 2   Name of Recipient  4214 non-null   object
 3   Affiliation        3207 non-null   object
 4   Date               4211 non-null   object
 5   Assessed Value     4213 non-null   float64
 6   Retention Cost     4205 non-null   float64
 7   Retained           4203 non-null   object
 8   Remarks            4203 non-null   object
dtypes: float64(2), object(7)
memory usage: 296.4+ KB

In [5]:
df.rename(lambda x: x.lower().strip().replace(' ', '_'), 
            axis='columns', inplace=True)

In [6]:
df.isnull().sum()

detail_of_gifts         6
item_category        1876
name_of_recipient       0
affiliation          1007
date                    3
assessed_value          1
retention_cost          9
retained               11
remarks                11
dtype: int64

In [7]:
df.nunique()

detail_of_gifts      3248
item_category          22
name_of_recipient    2047
affiliation            12
date                 1450
assessed_value        571
retention_cost        421
retained               72
remarks               229
dtype: int64

In [8]:
df.columns

Index(['detail_of_gifts', 'item_category', 'name_of_recipient', 'affiliation',
       'date', 'assessed_value', 'retention_cost', 'retained', 'remarks'],
      dtype='object')

In [9]:
df['Name of Recipient'].unique

KeyError: 'Name of Recipient'

In [ ]:
pd.set_option('display.max_rows', 1000)  # Set max_rows option to None
print(df['item_category'].values)

['Decoration Pieces' 'Pen' 'Decoration Pieces' ... nan nan 'Pen']

In [ ]:
df['item_category'].values

array(['Decoration Pieces', 'Pen', 'Decoration Pieces', ..., nan, nan,
       'Pen'], dtype=object)

In [ ]:
df['Affiliation'].values

array(['Gen. Musharrafarraf', 'Gen. Musharraf', 'Gen. Musharraf', ...,
       'PMLN', 'PMLN', 'PPP'], dtype=object)

In [ ]:
df['Affiliation'].replace('Gen. Musharrafarraf','Gen Musharraf',inplace=True)
df['Affiliation'].replace('Gen. Musharraf','Gen Musharraf',inplace=True)

In [ ]:
df['Affiliation'].unique()

NameError: name 'df' is not defined

In [ ]:
df['Item Category'].nunique()

22

In [ ]:
df['Item Category'].unique()

array(['Decoration Pieces', 'Pen', 'Clothes', 'Crockery', 'Carpet', nan,
       'Jewellery/Accessories', 'Tech', 'Bags', 'Weapons',
       'Cigar/Cigarettes', 'Watch', 'Food', 'Phone', 'Watch, phone',
       'Watch, Weapons', 'Technology', 'Watch, Tech', 'Clock',
       'Jewellery, Weapons', 'Bag, Jewellery/Accessories', 'Pen, Jewelry',
       'Tech, pen'], dtype=object)

In [ ]:
df['Item Category']. replace('Jewellery/Accessories','Jewellery',inplace=True)
# df['Item Category']. replace(' pen','Pen',inplace=True)

In [ ]:
df['Item Category'].nunique()

22

In [ ]:
df['Item Category'].unique()

array(['Decoration Pieces', 'Pen', 'Clothes', 'Crockery', 'Carpet', nan,
       'Jewellery', 'Tech', 'Bags', 'Weapons', 'Cigar/Cigarettes',
       'Watch', 'Food', 'Phone', 'Watch, phone', 'Watch, Weapons',
       'Technology', 'Watch, Tech', 'Clock', 'Jewellery, Weapons',
       'Bag, Jewellery/Accessories', 'Pen, Jewelry', 'Tech, pen'],
      dtype=object)