In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
df = pd.read_csv("nigeria.csv")
# Set display options to show all columns
pd.set_option('display.max_columns', None)
df.head()

,Unnamed: 0,MPI data source,Subnational \nregion,MPI of the country,MPI of the region,Nutrition,Child mortality,Years of schooling,School attendance,Cooking \nfuel,Sanitation,Drinking water,Electricity,Housing,Assets,Year of the survey,Population 2016,Population 2017,Population share by region,Population size by \nregion,Total number of indicators included \n(out of ten)
0,0,2016-2017,Anambra,0.291158,0.037842,13.047284,3.994433,2.870964,1.085310,50.632441,43.359634,21.875666,26.728696,9.346906,11.011347,190886.3125,185989.640625,190886.3125,0.016506,3150.825928,10.0
1,1,2016-2017,Bauchi,0.291158,0.503079,64.685386,19.390368,53.145480,57.886392,97.956425,62.275463,48.963201,71.527553,73.881483,26.184300,190886.3125,185989.640625,190886.3125,0.048657,9287.975586,10.0
2,2,2016-2017,Bayelsa,0.291158,0.099285,15.444347,9.342139,2.635758,7.892010,47.691876,78.990328,41.276795,56.968802,25.451857,25.778702,190886.3125,185989.640625,190886.3125,0.007071,1349.782104,10.0
3,3,2016-2017,Benue,0.291158,0.181328,24.925722,7.432897,6.117934,16.193767,96.506208,77.681071,41.521424,63.953125,58.618098,21.773861,190886.3125,185989.640625,190886.3125,0.027271,5205.647461,10.0
4,4,2016-2017,Borno,0.291158,0.334040,52.170521,11.609645,28.837290,48.676336,99.580163,47.872591,68.474323,34.114495,34.168899,22.996540,190886.3125,185989.640625,190886.3125,0.061736,11784.610352,10.0

In [4]:
df.reset_index(drop=True,inplace=True)

In [5]:
df.columns

Index(['Unnamed: 0', 'MPI data source', 'Subnational \nregion',
       'MPI of the country', 'MPI of the region', 'Nutrition',
       'Child mortality', 'Years of schooling', 'School attendance',
       'Cooking \nfuel', 'Sanitation', 'Drinking water', 'Electricity',
       'Housing', 'Assets', 'Year of the survey', 'Population 2016',
       'Population 2017', 'Population share by region',
       'Population size by \nregion',
       'Total number of indicators included \n(out of ten)'],
      dtype='object')

In [6]:
df.drop(columns=["Unnamed: 0"],inplace=True)

In [7]:
df.head()

,MPI data source,Subnational \nregion,MPI of the country,MPI of the region,Nutrition,Child mortality,Years of schooling,School attendance,Cooking \nfuel,Sanitation,Drinking water,Electricity,Housing,Assets,Year of the survey,Population 2016,Population 2017,Population share by region,Population size by \nregion,Total number of indicators included \n(out of ten)
0,2016-2017,Anambra,0.291158,0.037842,13.047284,3.994433,2.870964,1.085310,50.632441,43.359634,21.875666,26.728696,9.346906,11.011347,190886.3125,185989.640625,190886.3125,0.016506,3150.825928,10.0
1,2016-2017,Bauchi,0.291158,0.503079,64.685386,19.390368,53.145480,57.886392,97.956425,62.275463,48.963201,71.527553,73.881483,26.184300,190886.3125,185989.640625,190886.3125,0.048657,9287.975586,10.0
2,2016-2017,Bayelsa,0.291158,0.099285,15.444347,9.342139,2.635758,7.892010,47.691876,78.990328,41.276795,56.968802,25.451857,25.778702,190886.3125,185989.640625,190886.3125,0.007071,1349.782104,10.0
3,2016-2017,Benue,0.291158,0.181328,24.925722,7.432897,6.117934,16.193767,96.506208,77.681071,41.521424,63.953125,58.618098,21.773861,190886.3125,185989.640625,190886.3125,0.027271,5205.647461,10.0
4,2016-2017,Borno,0.291158,0.334040,52.170521,11.609645,28.837290,48.676336,99.580163,47.872591,68.474323,34.114495,34.168899,22.996540,190886.3125,185989.640625,190886.3125,0.061736,11784.610352,10.0

In [8]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 34 entries, 0 to 33
Data columns (total 20 columns):
 #   Column                                             Non-Null Count  Dtype
---  ------                                             --------------  -----
 0   MPI data source                                    34 non-null     object
 1   Subnational
region                                34 non-null     object
 2   MPI of the country                                 34 non-null     float64
 3   MPI of the region                                  34 non-null     float64
 4   Nutrition                                          34 non-null     float64
 5   Child mortality                                    34 non-null     float64
 6   Years of schooling                                 34 non-null     float64
 7   School attendance                                  34 non-null     float64
 8   Cooking
fuel                                      34 non-null     float64
 9   Sanitation                                         34 non-null     float64
 10  Drinking water                                     34 non-null     float64
 11  Electricity                                        34 non-null     float64
 12  Housing                                            34 non-null     float64
 13  Assets                                             34 non-null     float64
 14  Year of the survey                                 34 non-null     float64
 15  Population 2016                                    34 non-null     float64
 16  Population 2017                                    34 non-null     float64
 17  Population share by region                         34 non-null     float64
 18  Population size by
region                         34 non-null     float64
 19  Total number of indicators included
(out of ten)  34 non-null     float64
dtypes: float64(18), object(2)
memory usage: 5.4+ KB

In [9]:
df.isnull().sum()

MPI data source                                       0
Subnational \nregion                                  0
MPI of the country                                    0
MPI of the region                                     0
Nutrition                                             0
Child mortality                                       0
Years of schooling                                    0
School attendance                                     0
Cooking \nfuel                                        0
Sanitation                                            0
Drinking water                                        0
Electricity                                           0
Housing                                               0
Assets                                                0
Year of the survey                                    0
Population 2016                                       0
Population 2017                                       0
Population share by region                            0
Population size by \nregion                           0
Total number of indicators included \n(out of ten)    0
dtype: int64

In [12]:
df.shape

(34, 20)

In [10]:
df.describe()

,MPI of the country,MPI of the region,Nutrition,Child mortality,Years of schooling,School attendance,Cooking \nfuel,Sanitation,Drinking water,Electricity,Housing,Assets,Year of the survey,Population 2016,Population 2017,Population share by region,Population size by \nregion,Total number of indicators included \n(out of ten)
count,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.000000,34.0000,34.000000,34.0000,34.000000,34.000000,34.0
mean,0.291158,0.229118,34.129403,10.242606,20.321883,24.739583,74.432684,66.393294,39.128480,45.384186,40.204398,20.578055,190886.3125,185989.640625,190886.3125,0.027784,5303.495024,10.0
std,0.000000,0.185043,20.926369,7.761507,18.504434,23.671525,24.944421,11.560911,17.345827,21.334441,26.534359,9.150502,0.0000,0.000000,0.0000,0.017603,3360.203987,0.0
min,0.291158,0.009810,7.070490,0.877797,1.682595,0.806192,3.345614,41.886085,4.494502,0.846336,2.952517,6.537769,190886.3125,185989.640625,190886.3125,0.006153,1174.574829,10.0
25%,0.291158,0.054429,16.356900,4.314988,5.843918,3.900992,55.068009,59.494032,23.337745,26.955651,15.322274,12.829835,190886.3125,185989.640625,190886.3125,0.015866,3028.581787,10.0
50%,0.291158,0.156476,24.705847,7.485588,11.639297,13.089782,83.525723,68.501988,41.649783,48.851843,34.391172,20.466895,190886.3125,185989.640625,190886.3125,0.020071,3831.370605,10.0
75%,0.291158,0.390173,54.352377,15.262508,35.020693,47.838330,95.661400,74.789542,49.952974,63.928542,64.867136,26.889075,190886.3125,185989.640625,190886.3125,0.040203,7674.254639,10.0
max,0.291158,0.536035,67.746860,30.013666,55.388713,65.628266,99.580163,87.784928,70.476025,79.308599,82.984746,39.646149,190886.3125,185989.640625,190886.3125,0.075157,14346.522461,10.0

In [11]:
df1 = pd.read_csv("table-5-subnational-results-mpi-2019-nigeria.csv")
df1.head()

,Unnamed: 0,MPI data source,Subnational \nregion,MPI of the country,MPI of the region,Nutrition,Child mortality,Years of schooling,School attendance,Cooking \nfuel,Sanitation,Drinking water,Electricity,Housing,Assets,Year of the survey,Population 2016,Population 2017,Population share by region,Population size by \nregion,Total number of indicators included \n(out of ten)
0,0,2016-2017,Anambra,0.291158,0.037842,13.047284,3.994433,2.870964,1.085310,50.632441,43.359634,21.875666,26.728696,9.346906,11.011347,190886.3125,185989.640625,190886.3125,0.016506,3150.825928,10.0
1,1,2016-2017,Bauchi,0.291158,0.503079,64.685386,19.390368,53.145480,57.886392,97.956425,62.275463,48.963201,71.527553,73.881483,26.184300,190886.3125,185989.640625,190886.3125,0.048657,9287.975586,10.0
2,2,2016-2017,Bayelsa,0.291158,0.099285,15.444347,9.342139,2.635758,7.892010,47.691876,78.990328,41.276795,56.968802,25.451857,25.778702,190886.3125,185989.640625,190886.3125,0.007071,1349.782104,10.0
3,3,2016-2017,Benue,0.291158,0.181328,24.925722,7.432897,6.117934,16.193767,96.506208,77.681071,41.521424,63.953125,58.618098,21.773861,190886.3125,185989.640625,190886.3125,0.027271,5205.647461,10.0
4,4,2016-2017,Borno,0.291158,0.334040,52.170521,11.609645,28.837290,48.676336,99.580163,47.872591,68.474323,34.114495,34.168899,22.996540,190886.3125,185989.640625,190886.3125,0.061736,11784.610352,10.0

In [13]:
df1.shape

(34, 21)

In [14]:
df2 = pd.read_csv("socioeconomic_statistics.csv")
df2.head()

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,Unnamed: 7,Unnamed: 8,Unnamed: 9
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
df2.shape

(413, 10)

In [16]:
df2.isnull().sum()

Unnamed: 0    375
Unnamed: 1      5
Unnamed: 2    412
Unnamed: 3    375
Unnamed: 4    301
Unnamed: 5    227
Unnamed: 6    227
Unnamed: 7    153
Unnamed: 8     79
Unnamed: 9    301
dtype: int64